body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1, h2, a, h3, h4 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}

h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}

h3, h4 {
	color: #0D2C40;
}

a {
	font-weight: 600;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 20px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom-color: white;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

button {
	font-family: "Droid Serif", serif;
	padding: 10px;
	background-color: #F15B31;
	color: #FFFFFF;
	border: 2px solid #0D2C40;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright{
	float: left;
}

.message {
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

small {
	font-size: 10px;
}

footer a {
	font-size: inherit;
	font-family: inherit;
	margin: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}